## Data Structures

### 1. List ----> Elements are Seperated by Camma and enclosed with Square Brackets
### Heterogenous 
### List can be retrieved using index
### Mutable---> Can make the Changes after creating the list

In [1]:
sample_list=[1,13.6,"hi",12,1]
sample_list

[1, 13.6, 'hi', 12, 1]

In [2]:
type(sample_list)

list

In [3]:
sample_list[1]

13.6

In [4]:
sample_list[5]

IndexError: list index out of range

In [5]:
sample_list[-2]

12

In [6]:
sample_list[0]=10

In [7]:
sample_list

[10, 13.6, 'hi', 12, 1]

## 2. Tuple

 ### Heterogenous 
 ### Paranthesis 
 ### Can retrieve data using index 
 ### Immutable

In [9]:
sample_tuple=(1,13,6,"hi",12,1)
sample_tuple

(1, 13, 6, 'hi', 12, 1)

In [10]:
type(sample_tuple)

tuple

In [11]:
sample_uple=1,13.6,"hi",12.1
type(sample_tuple)

tuple

In [12]:
sample_tuple[1]

13

In [13]:
sample_tuple[-2]

12

In [14]:
sample_tuple[10]
## tuple index out of range

IndexError: tuple index out of range

In [16]:
sample_tuple[0]=10
sample_tuple
## 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

## 3. Set 
### Does not allow duplicates
### Ordered-First place
### in Set,elements cannot retrieve
### Set is mutable

In [18]:
sample_set={1,13,6,"hi",12,1,127,25,25,"apple","king","Ball"}
sample_set

{1, 12, 127, 13, 25, 6, 'Ball', 'apple', 'hi', 'king'}

#### in a Set Duplicates are not allowed and numbers are arranged in an Order of first Position of elements.

In [21]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [22]:
sample_set[0]="hello"

TypeError: 'set' object does not support item assignment

In [25]:
sample_set.add(1000)
sample_set
## adding new element 1000 to an Set

{1, 1000, 12, 127, 13, 25, 6, 'Ball', 'apple', 'hi', 'king'}

In [26]:
sample_set.remove("hi")
sample_set
##Removing (or) Deleting from  an Set

{1, 1000, 12, 127, 13, 25, 6, 'Ball', 'apple', 'king'}

In [27]:
sample_set
## Printing the inal set after insertion and deletion

{1, 1000, 12, 127, 13, 25, 6, 'Ball', 'apple', 'king'}

## 4. Dictionary

### Has a Key-value Pair Data Structure
### key is unique
### Values can be Duplicated
### Values can be retrieved using key
### Key canno be retrieved using value

In [29]:
sample_dict={1:"apple",2:35.4,3:"data",2:"every",6:35.4,7:35.4,2:"hi"}
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 35.4}

In [30]:
sample_dict[3]

'data'

In [32]:
sample_dict["apple"]

KeyError: 'apple'

In [36]:
sample_dict[7]=100
sample_dict
## Replacing the 7th attribute value as 100 in Dictionary

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 100}

In [39]:
sample_dict[10]="Business"
sample_dict
## adding 10th attribute array value in dictionary as 'Business'

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 100, 10: 'Business'}

In [43]:
sample_dict[10]="Amrita Vishwa vidypeetham Bengaluru"
sample_dict
## Replacing 10th attribute array value in dictionary as 'Amrita Vishwavidypeetham Bengaluru'

{1: 'apple',
 2: 'hi',
 3: 'data',
 6: 35.4,
 7: 100,
 10: 'Amrita Vishwa vidypeetham Bengaluru'}